
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="firstname1">Firstname</label>
      <input id="firstname1" type="text" pInputText>
    </div>
    <div class="p-field p-col">
      <label for="lastname1">Lastname</label>
      <input id="lastname1" type="text" pInputText>
    </div>
  </div>
  <h3>Horizontal Checkbox</h3>
  <div class="p-formgroup-inline">
    <div class="p-field-checkbox">
      <!-- <p-checkbox name="city3" value="Chicago" inputId="city3"></p-checkbox> -->
      <label for="city3">Chicago</label>
    </div>
    <div class="p-field-checkbox">
      <!-- <p-checkbox name="city4" value="Los Angeles" inputId="city4"></p-checkbox> -->
      <label for="city4">Los Angeles</label>
    </div>
  </div>

