<form class="card text-center " [formGroup]="signIn" (ngSubmit)="submit()">
    <div class="card-body">
        <div class="form-group card-title">
            <label for="exampleInputPassword">نام کاربری</label>
            <input formControlName="username" type="user" class="form-control" id="exampleInputPassword">
        </div>
        <div class="form-group card-title">
            <label for="exampleInputPassword1">رمز عبور</label>
            <input  formControlName="password" type="password" class="form-control card-title" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary card-title">ورود</button>
    </div>
    
</form>