.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-body {
    max-width: 40rem;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}