<nav class="navbar navbar-expand-lg navbar-light nav-color container">
    <a class="navbar-brand nav-motion" href="#">سبد خرید</a>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <i class="fas fa-minus-circle"></i>
        </div>
        <div class="col">
            <p>اپراتور</p>
        </div>
        <div class="col">
            <p>شماره سیم کارت</p>
        </div>
        <div class="col">
            <p>نوع سیم کارت</p>
        </div>
        <div class="col">
            <p>قیمت(تومان)</p>
        </div>
        <div class="col">
            <p>نحوه پرداخت</p>
        </div>
        <div class="col">
            <p>کارکرد</p>
        </div>
        <div class="col">
            <i class="fas fa-sim-card"></i>
        </div>
    </div>
    <div class="row" *ngFor="let item of cartItems">
        <div class="col">
            <i class="fas fa-minus-circle" (click) = "delete(item.id)"></i>
        </div>
        <div class="col">
            <p>{{item.operator}}</p>
        </div>
        <div class="col">
            <p>{{item.phoneNumber}}</p>
        </div>
        <div class="col">
            <p>{{item.type? "اعتباری" : "دائمی"}}</p>
        </div>
        <div class="col">
            <p>{{item.cost}}</p>
        </div>
        <div class="col">
            <p>{{item.status? "صفر" : "کارکرده"}}</p>
        </div>
        <div class="col" >
            <i class="fas fa-sim-card"></i>
        </div>
    </div>    
</div>