<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <p>اپراتور</p>
        </div>
        <div class="col-md-2">
            <p>شماره سیم کارت</p>
        </div>
        <div class="col-md-2">
            <p>نوع سیم کارت</p>
        </div>
        <div class="col-md-2">
            <p>قیمت(تومان)</p>
        </div>
        <div class="col-md-2">
            <p>نحوه پرداخت</p>
        </div>
        <div class="col-md-2">
            <p>کارکرد</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>همراه اول</p>
        </div>
        <div class="col-md-2">
            <p>0912 876 0543</p>
        </div>
        <div class="col-md-2">
            <p>اعتباری</p>
        </div>
        <div class="col-md-2">
            <p>300000</p>
        </div>
        <div class="col-md-2">
            <p>نقدی</p>
        </div>
        <div class="col-md-2">
            <p>صفر</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>ایرانسل</p>
        </div>
        <div class="col-md-2">
            <p>0936 567 0123</p>
        </div>
        <div class="col-md-2">
            <p>دایمی</p>
        </div>
        <div class="col-md-2">
            <p>1000000</p>
        </div>
        <div class="col-md-2">
            <p>الکترونیکی</p>
        </div>
        <div class="col-md-2">
            <p>کارکرد</p>
        </div>
    </div>
    <button class="btn btn-primary"></button>
</div>