<nav class="navbar navbar-expand-lg navbar-light nav-color">
    <a class="navbar-brand nav-motion" href="#">سبد خرید</a>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <i class="fas fa-minus-circle"></i>
        </div>
        <div class="col">
            <p>اپراتور</p>
        </div>
        <div class="col">
            <p>شماره سیم کارت</p>
        </div>
        <div class="col">
            <p>نوع سیم کارت</p>
        </div>
        <div class="col">
            <p>قیمت(تومان)</p>
        </div>
        <div class="col">
            <p>نحوه پرداخت</p>
        </div>
        <div class="col">
            <p>کارکرد</p>
        </div>
        <div class="col">
            <i class="fas fa-sim-card"></i>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <i class="fas fa-minus-circle"></i>
        </div>
        <div class="col">
            <p>همراه اول</p>
        </div>
        <div class="col">
            <p>0912 876 0543</p>
        </div>
        <div class="col">
            <p>اعتباری</p>
        </div>
        <div class="col">
            <p>300000</p>
        </div>
        <div class="col">
            <p>نقدی</p>
        </div>
        <div class="col">
            <p>صفر</p>
        </div>
        <div class="col">
            <i class="fas fa-sim-card"></i>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <i class="fas fa-minus-circle"></i>
        </div>
        <div class="col">
            <p>ایرانسل</p>
        </div>
        <div class="col">
            <p>0936 567 0123</p>
        </div>
        <div class="col">
            <p>دایمی</p>
        </div>
        <div class="col">
            <p>1000000</p>
        </div>
        <div class="col">
            <p>الکترونیکی</p>
        </div>
        <div class="col">
            <p>کارکرد</p>
        </div>
        <div class="col">
            <i class="fas fa-sim-card"></i>
        </div>
    </div>
    
</div>