<section>

    <section class="pt-3 text-right pr-5">
  
      <h5>دسته بندی ها</h5>
  <hr>
    
      <section class="mb-4">
  
        <h6 class="font-weight-bold mb-3">نوع سیم کارت</h6>
        <div class="form-check pl-0 mb-3">
          <!-- ng-change="onfilter(type)" ng-model="type" -->
          <input (click)="onTypeClick($event)" data-name="type" data-filter="0" value="" type="checkbox" class="form-check-input filled-in" id="et">
          <label class="form-check-label small text-uppercase card-link-secondary" for="new">اعتباری</label>
        </div>
         <div class="form-check pl-0 mb-3">
          <input (click)="onTypeClick($event)" data-name="type" data-filter="1" type="checkbox" class="form-check-input filled-in" id="da" >
          <label class="form-check-label small text-uppercase card-link-secondary" for="used">دائمی</label>
        </div> 
  
      </section>

  <hr>
      <section class="mb-4">
  
        <h6 class="font-weight-bold mb-3"> اپراتور </h6>
        <div class="form-check pl-0 mb-3" *ngFor= "let operator of listOfOPerator; let i=index">
          <input id="operator-{{i}}" (click)="onTypeClick($event)"  data-name="operator" value="{{operator}}" type="checkbox" class="form-check-input filled-in">
          <label class="form-check-label small text-uppercase card-link-secondary" for="operator-{{i}}">{{ operator }}</label>
        </div>
  
      </section>
  <hr>
 

      <section class="mb-4">
  
        <h6 class="font-weight-bold mb-3">قیمت</h6>
  
        <div class="form-check pl-0 mb-3">
          <input (click)="onRangeClick($event)" data-name="cost" data-maxvalue="500000" type="checkbox" class="form-check-input">
          <label class="form-check-label small text-uppercase card-link-secondary" for="under25">زیر 500000</label>
        </div>
        <div class="form-check pl-0 mb-3">
          <input (click)="onRangeClick($event)" data-name="cost" data-minvalue="500000" data-maxvalue="2000000" type="checkbox" class="form-check-input" id="2550" name="materialExampleRadios">
          <label class="form-check-label small text-uppercase card-link-secondary" for="2550">  بین 500000 تا 2000000</label>
        </div>
        <div class="form-check pl-0 mb-3">
          <input (click)="onRangeClick($event)" data-name="cost" data-minvalue="2000000" data-maxvalue="5000000" type="checkbox" class="form-check-input" id="50100" name="materialExampleRadios">
          <label class="form-check-label small text-uppercase card-link-secondary" for="50100">بین 2000000 تا 5000000</label>
        </div>
        <div class="form-check pl-0 mb-3">
          <input (click)="onRangeClick($event)" data-name="cost" data-minvalue="5000000" type="checkbox" class="form-check-input" id="100200" name="materialExampleRadios">
          <label class="form-check-label small text-uppercase card-link-secondary" for="100200">از 5000000 به بالا</label>
        </div>
  
      </section>
      <!-- Section: Price version 2 -->
      <!-- <!-- <section class="mb-4"> -->
  
        <h6 class="font-weight-bold mb-3">Price</h6>
  
        <div class="slider-price d-flex align-items-center my-4">
          <span class="font-weight-normal small text-muted mr-2">500000</span>
          <form class="multi-range-field w-100 mb-1">
            <input id="multi" class="multi-range" type="range" />
          </form>
          <span class="font-weight-normal small text-muted ml-2">10000000</span>
        </div>
  
      </section> 
      <!-- Section: Price version 2 -->
  
    </section>

